# Guided Practice

Now we have some time fo you to try out Python basics that you've just learned.

## 1. Operating and testing scalar types int and float

Pizza party!

* Given an number of guests and pizza fraction required per guest
* Calculate how many pizzas to order
* Calculate actual pizza fraction per person

In [1]:
from math import ceil  # ceil() rounds up to nearest integer

num_guests = 3
per_person = 1/3

#num_pizzas = 
#remember to include the person making the order as well!

#print('Order',num_pizzas,'pizzas')
#print('Actual pizzas per person', num_pizzas/(num_guests+1))

Test Pythagoras Theorem for triangles with sides a, b and c 

> In a right angled triangle:  
> the square of the hypotenuse is equal to  
> the sum of the squares of the other two sides

In [5]:
from math import isclose 

a = 2
b = 2
c = 8**0.5

# print('Was Pythagoras right?:', )

if isclose( (a**2+b**2), c**2):
    print('He knew his stuff')
else:
    print('I need to remeasure this triangle!')

He knew his stuff

Now try your solution with the values of a, b and c in the next cell. You might need a different solution as hinted below.

In [3]:
from math import isclose

a = 2
b = 2
c = 8**0.5  # this is the same as 
            # c = math.sqrt(8)

# print('Was Pythagoras right?',  )

## 2. Explore Booleans

Booleans can also be constructed using the ``bool()`` object constructor: values of any other type can be converted to Boolean via predictable rules.
For example, any numeric type is False if equal to zero, and True otherwise:

In [172]:
bool(1)

True

In [173]:
bool(0)

False

The Boolean conversion of ``None`` is always False:

In [174]:
bool(None)

False

For strings, ``bool(s)`` is False for empty strings and True otherwise:

In [175]:
bool("")

False

In [176]:
bool("abc")

True

For sequences, which we'll see in the next section, the Boolean representation is False for empty sequences and True for any other sequences

In [177]:
bool([1, 2, 3])

True

In [178]:
bool([])

False

## 3. Explore Strings

* Copy a sentence from today's news headline
* Return the number of words
* Replace spaces by smilyes

In [8]:
news='The deadly accordion wars of Lesotho'
len( news.split(' ') )

':)'.join(news.split(' '))

'The:)deadly:)accordion:)wars:)of:)Lesotho'

## 4. Explore Lists

Store at least 3 different types of objects in a list.

In [11]:
mylist = ['abc',123,123.00001]
mylist[0] = '123'
newlist = mylist[0:2]
revlist = mylist[:-1]

print(mylist, newlist , revlist)

['123', 123, 123.00001] ['123', 123] ['123', 123]
None

In [12]:
# Can anyone say why this returns a "None" instead of a reversed list?

mylist = ['abc',123,123.00001]
revlist = mylist.reverse()
print(revlist)

None

Now,
* append one element
* modify one element
* create a new list with the first 2 elements of the previous list
* create a new list that is the reverse order of the previous list

In [ ]:
# Your solution

### Sequence comprehensions 

Ex1:
* Starting by creating a list of Olympic Games years starting in 1948
* Create a list with the predicted Football world Cup years, which is held 2 years after each Olympic Games.

In [15]:
olympics = list( range(1948,2020,4 ) )
print( 'Olympics', olympics)

#worldcup = 

print('World Cup',[year+2 for year in olympics])

Olympics [1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]
World Cup [1950, 1954, 1958, 1962, 1966, 1970, 1974, 1978, 1982, 1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014, 2018]

Ex2:
* Use the list below with countries names
* Create a list where each country name is capitalised correctly. 

Suggestion, use str method capitalize()

In [23]:
# Simple Solution
countries = ['paRaguay', 'uRUGUAY', 'SPAIN', 'chile', 'el Salvador']
# your code below

#print([country.capitalize() for country in countries])


newnames = []
for country in countries:
    if len(country.split())>1:
        newname = [word.capitalize() for word in country.split()]
        newname = ' '.join(newname)
    else:
        newname = country.capitalize()
    newnames.append(newname)
print(newnames)

['Paraguay', 'Uruguay', 'Spain', 'Chile', 'El Salvador']

Ex3: Dictionary comprehension

* Use the dictionary below to create a list of dates that are in the XIX century (>1800).  

Remember to use dictionary method `.values()` to access the years.

In [27]:
Battles= {'Austerlitz':1805,'Alkmaar':1799,'Arhem':1813, 'Arcole':1796,'Jena':1806}

# your code below
[year for year in Battles.values() if  1800 <year<1900]

[1805, 1813, 1806]

* Use the same dictionary to create a list of Battle names that are in the XIX century (>1800). 

Other dictionary methods are `.items()` and `.keys()`

In [29]:
Battles= {'Austerlitz':1805,'Alkmaar':1799,'Arhem':1813, 'Arcole':1796,'Jena':1806}
[name for name in Battles if  Battles. > 1800]

TypeError: '>' not supported between instances of 'dict_keys' and 'int'

## 5. Dictionary attributes

In [154]:
# Remember dictionaries
dict(a='123', say='hellozles', other_key=['wow', 'a', 'list', '!'], and_another_key=3.14)

{'a': '123',
 'say': 'hellozles',
 'other_key': ['wow', 'a', 'list', '!'],
 'and_another_key': 3.14}

Store the following information in a dictionary:
    pet's name, age, colour and weight

In [2]:
# mypet = {'name':    }

Modify one of the values and add a new attribute, species